[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
phonenumbers = "*"
pytz = "*"
django-phonenumber-field = "*"
sqlparse = "*"
asgiref = "*"

[dev-packages]

[requires]
python_version = "3.8"
